# --------- others --------- #
pyrootutils     # standardizing the project root setup
pre-commit      # hooks for applying linters on commit
rich            # beautiful text formatting in terminal
pytest          # tests
numpy
typer
natsort
tqdm
Cython
cython_bbox
decord
opencv-python